@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia.ttf");
}

@font-face {
  font-family: "NotoSans-Regular";
  src: url("../fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Italic.ttf");
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Regular.ttf");
}
